@keyframes color-change {
    0%{background-color: #808080;}
    10%{background-color: #808080;}
    20%{background-color: #FFFFFF;}
    30%{background-color: #FF0000;}
    40%{background-color: #FF00FF;}
    50%{background-color: #C0FF00;}
    60%{background-color: #FFFF00;}
    70%{background-color: #FF7F00;}
    80%{background-color: #0000FF;}
    90%{background-color: #30D5C8;}
    100%{background-color: #808080;}
    
}

body {
    animation: color-change 30s infinite;
}

.onay_png{
    margin-left: 5px;
    display: inline-block;


}

.basarili_islem{
    font-family: DINNextW05-Bold,arial,georgia,sans-serif;
    display: block;
    margin-top: 100px;
    
}

.home_button {
    display: block;
    margin-top: 0px;
    margin-left: 1000px;
}
